<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ling.medicalview.mapper.DoctorMapper">

    <insert id="insertDoctor">
      INSERT INTO doctor(hid,oid,doctCode,doctName,doctSex,doctPhone,appellation,doctEmail,entryDate)
       VALUES (#{hid},#{oid},#{doctCode},#{doctName},#{doctSex},#{doctPhone},#{appellation},
       #{doctEmail},#{entryDate}) ;
    </insert>

    <resultMap type="Doctor" id="DoctorInfoListid">
        <id column="did" property="did"/>
        <result column="doctName" property="doctname"/>
        <result column="appellation" property="appellation"/>
        <result column="doctCode" property="doctcode"/>
        <result column="doctSex" property="doctsex"/>
        <result column="doctPhone" property="doctphone"/>
        <result column="entryDate" property="entrydate"/>
        <result column="doctIntr" property="doctintr"/>
        <!--  association可以指定联合的javaBean对象
        property="dept"：指定哪个属性是联合的对象
        javaType:指定这个属性对象的类型[不能省略] -->
        <association property="office" javaType="Office">
            <id column="oid" property="oid"/>
            <result column="officeName" property="officename"/>
        </association>
    </resultMap>
    <!--@Param("hid")中的参数-->
    <select id="getDoctorInfoList" resultMap="DoctorInfoListid">
      SELECT doc.*,off.`officeName` FROM `doctor` doc
        LEFT JOIN `office` off ON off.oid=doc.`oid`
        <where>
            <if test="hid!=null and hid!='' ">
                AND hid=#{hid}
            </if>
            <if test="officeName!=null and officeName!='' ">
                AND officeName=#{officeName}
            </if>
        </where>
    </select>

</mapper>
