<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ling.medicalview.mapper.OfficeMapper">

    <select id="queryOfficeByName" resultType="Office">
      SELECT oid,officeName FROM office WHERE officeName=#{offName}
    </select>
</mapper>
