<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ling.medicalview.mapper.UserTokenMapper">
    <insert id="save">
      INSERT INTO user_token(id,userId,loginTime,createTime,state)
        VALUES(#{id},#{userId},#{userId},#{loginTime},#{createTime},#{state})
    </insert>
</mapper>