<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="footer-one">
        <div class="footer-one__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-one__widget footer-one__link-widget">
                            <h3 class="footer-one__widget-title">Nevigation</h3><!-- /.footer-one__widget-title -->
                            <ul class="footer-one__links-list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Departments</a></li>
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul><!-- /.footer-one__links-list -->
                        </div><!-- /.footer-one__widget -->
                    </div><!-- /.col-lg-2 -->
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-one__widget footer-one__link-widget">
                            <h3 class="footer-one__widget-title">Quick Links</h3><!-- /.footer-one__widget-title -->
                            <ul class="footer-one__links-list">
                                <li><a href="#">Get Appointment</a></li>
                                <li><a href="#">Our Doctor Team</a></li>
                                <li><a href="#">Departments Service</a></li>
                                <li><a href="#">About Hospital</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Get Reports</a></li>
                            </ul><!-- /.footer-one__links-list -->
                        </div><!-- /.footer-one__widget -->
                    </div><!-- /.col-lg-2 -->
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-one__widget footer-one__link-widget">
                            <h3 class="footer-one__widget-title">Departments</h3><!-- /.footer-one__widget-title -->
                            <ul class="footer-one__links-list">
                                <li><a href="#">Cardiology</a></li>
                                <li><a href="#">Pediatric</a></li>
                                <li><a href="#">Phychology</a></li>
                                <li><a href="#">Dental</a></li>
                                <li><a href="#">Neurology</a></li>
                                <li><a href="#">Orthopedics</a></li>
                            </ul><!-- /.footer-one__links-list -->
                        </div><!-- /.footer-one__widget -->
                    </div><!-- /.col-lg-2 -->
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-one__widget footer-one__link-widget">
                            <h3 class="footer-one__widget-title">Emergency</h3><!-- /.footer-one__widget-title -->
                            <ul class="footer-one__links-list">
                                <li><a href="#">Appointment</a></li>
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Cabins</a></li>
                                <li><a href="#">Treatments</a></li>
                                <li><a href="#">Surgery</a></li>
                                <li><a href="#">Consultancy</a></li>
                            </ul><!-- /.footer-one__links-list -->
                        </div><!-- /.footer-one__widget -->
                    </div><!-- /.col-lg-2 -->
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-one__widget footer-one__link-widget">
                            <h3 class="footer-one__widget-title">Follow Us</h3><!-- /.footer-one__widget-title -->
                            <div class="footer-one__social">
                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div><!-- /.footer-one__social -->
                            <form action="#" class="footer-one__subscribe">
                                <input class="footer-one__subscribe-field" type="text" name="email" placeholder="Email Address">
                                <button class="footer-one__subscribe-submit" type="submit">Subscribe Now <i class="fa fa-long-arrow-right"></i></button>
                            </form>
                        </div><!-- /.footer-one__widget -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.footer-one__top -->
        <div class="footer-one__middle">
            <div class="container">
                <div class="inner-container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-one__widget about-widget">
                                <a href="index.html" class="footer-one__logo"><img src="../static/portal/images/resources/logo-1-2.png" alt="Awesome Image" /></a>
                                <p class="footer-one__text">Lorem ipsum dolorit amet consectetur adipi scing <br> elit sedo eiusmod incididunt uttom labore etto <br> dolore magna aliqua.</p>
                                <a href="#" class="footer-one__map-link">View on google map</a>
                            </div><!-- /.footer-one_widget -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-one__widget contact-widget">
                                <h3 class="footer-one__widget-title">Email</h3><!-- /.footer-one__widget-title -->
                                <ul class="footer-one__contact-list">
                                    <li class="footer-one__contact-list-item">hello@clainc.com</li>
                                    <li class="footer-one__contact-list-item">emergency@live.com</li>
                                </ul><!-- /.footer-one__contact-list -->
                            </div><!-- /.footer-one_widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-one__widget contact-widget">
                                <h3 class="footer-one__widget-title">Phone</h3><!-- /.footer-one__widget-title -->
                                <ul class="footer-one__contact-list">
                                    <li class="footer-one__contact-list-item">+1234 4567 7890</li>
                                    <li class="footer-one__contact-list-item">+009 6612 3456 8</li>
                                </ul><!-- /.footer-one__contact-list -->
                            </div><!-- /.footer-one_widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-one__widget contact-widget">
                                <h3 class="footer-one__widget-title">Address</h3><!-- /.footer-one__widget-title -->
                                <ul class="footer-one__contact-list">
                                    <li class="footer-one__contact-list-item">1234 North Luke Lane,</li>
                                    <li class="footer-one__contact-list-item">South Bend, IN 360001</li>
                                </ul><!-- /.footer-one__contact-list -->
                            </div><!-- /.footer-one_widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </div><!-- /.footer-one__middle -->
        <div class="footer-one__bottom">
            <div class="container">
                <p class="footer-one__copy-text">&copy; 2019 Clainc | All Right Reserved</p><!-- /.copy-text -->
                <ul class="footer-one__bottom-links">
                    <li class="footer-one__bottom-links-item"><a href="#">Privacy and Policy</a></li>
                    <li class="footer-one__bottom-links-item"><a href="#">Terms and Services</a></li>
                    <li class="footer-one__bottom-links-item"><a href="#">Developers</a></li>
                </ul><!-- /.footer-one__bottom-links -->
            </div><!-- /.container -->
        </div><!-- /.footer-one__bottom -->
    </footer><!-- /.footer-one -->
</div>


</html>